@charset "UTF-8";

@use '@styles/mixins.scss';

:root {
    // text
    --font-size: 18px;
    --font-family: 'IBMPS', 'Helvetica Neue', 'Arial', sans-serif;
}
:root {
    // page
    --page-background-colour: #fff;
    // navigation menu
    --navigation-menu-background-colour: #fff;
    --navigation-submenu-background-colour: #fff;
    // text
    --text-default-colour: #000;
    --text-light-colour: #555;
    --text-disabled-colour: #b7b7b7;
    --text-link-hover-colour: #808080;
    --text-link-underline-colour: #666;
    --blockquote-indent-line-colour: #3a3a3a;
    // windowed content
    --windowed-content-outline-colour: #707070;
    --windowed-content-backdrop-colour: #000;
    --windowed-content-backdrop-opacity: 0.22;
    --windowed-content-aboutPage-background-colour: #aeeb9b;
    --windowed-content-project-background-colour: #fff;
    --windowed-content-writing-background-colour: #fff;
    --windowed-content-happening-background-colour: #fff500;
    --windowed-content-resource-background-colour: #ff7d57;
    --windowed-content-counter-map-background-colour: #fff500;
    --windowed-content-initiative-background-colour: #fff;
    // superposed content
    --superposed-content-outline-colour: #707070;
    // content orbs
    --content-orb-background-colour: #fff;
    --content-orb-outline-colour: #707070;
    --counter-map-orb-background-colour: #fff500;
    --counter-map-orb-outline-colour: #707070;
    // counter-map
    --counter-map-viewport-background-colour: rgba(0, 0, 0, 0.15);
    --counter-map-viewport-grid-lines-colour: rgba(0, 0, 0, 0.075);
    --counter-map-marker-enabled-background-colour: #fff;
    --counter-map-marker-enabled-foreground-colour: var(--text-default-colour);
    --counter-map-marker-hover-foreground-colour: var(--text-link-hover-colour);
    --counter-map-marker-disabled-background-colour: #b7b7b7;
    --counter-map-marker-disabled-foreground-colour: #3a3a3a;
    --counter-map-marker-outline-colour: #707070;
    // forms
    --form-field-outline-colour: #b7b7b7;
    --form-field-background-default-colour: #fff;
    --form-field-background-hover-colour: #f5f5f5;
    --form-button-background-colour: #fff;
    // skeleton content
    --skeleton-content-background-colour: rgba(0, 0, 0, 0.15);
    --skeleton-content-border-radius: 4px;
    --skeleton-content-animation: pulse 2s infinite;
}
:root {
    // page
    --page-padding-top: 2.5rem;
    --page-padding-bottom: 2.5rem;
    --page-padding-inline: calc(env(safe-area-inset-left, 0px) + 2.5rem);
    --page-gap: var(--menu-item-height);
    // logo // N.B. `--logo-width` and `--logo-aspect-ratio` calculated in @components/LogoBar.astro
    --logo-height: 3.5rem;
    // navigation menu // N.B. `--how-many-menu-items` and `--navigation-menu-height` calculated in @components/NavigationBar.astro
    --menu-item-padding-block: 0.666rem;
    --menu-item-height: calc(1em + (var(--menu-item-padding-block) * 2) + 1px);
    --navigation-menu-margin-top: calc(var(--menu-item-padding-block) * -1 / 2);
    --navigation-submenu-indent-inline-start: 10rem;
    --navigation-submenu-indent-inline-end: 10rem;
    --navigation-submenu-date-title-gap: 4rem;
    --navigation-submenu-date-display: initial;
    // windowed content
    --small-windowed-content-max-width: 37.5rem;
    --big-windowed-content-max-width: 47.5rem;
    --windowed-content-indent-inline-start: 10rem;
    --windowed-content-indent-inline-end: 0px;
    --windowed-content-padding-top: 1.5rem;
    --windowed-content-padding-bottom: 2.5rem;
    --windowed-content-padding-inline: 2.5rem;
    --windowed-content-container-extra-padding-top: 0px;
    --windowed-content-container-extra-padding-bottom: 0px;
    --windowed-content-container-extra-padding-inline: 0px;
    // content orbs
    --content-orb-width: 2.5rem;
    --content-orb-padding: 0.25rem;
    // featured items
    --featured-bar-width: calc(100% - var(--page-gap) - var(--logo-width));
    --featured-bar-height: calc(100% - var(--navigation-menu-height) - var(--navigation-menu-margin-top) - var(--page-gap));
    --featured-list-flex-direction: row;
    --featured-list-flex-align: flex-end;
    --featured-list-flex-justify: left;
    --featured-item-max-width: 25rem;
    --featured-item-padding-top: 1rem;
    --featured-item-padding-bottom: 0.75rem;
    --featured-item-padding-inline: 1rem;
    --featured-item-display: flex;
    --featured-item-thumbnail-display: flex;
    // content & misc
    --content-small-gap: 0.5rem;
    --content-medium-gap: 1rem;
    --content-big-gap: 2rem;
    --running-text-line-height-arabic: 1.6;
    --running-text-line-height-non-arabic: 1.5;
    --short-text-line-height-arabic: 1.4;
    --short-text-line-height-non-arabic: 1.3;
    --average-text-line-height: 1.45;
    --list-indent-inline-start: 2.5rem;
    --blockquote-indent-inline-start: 1rem;
    --media-landscape-max-width: 50rem;
    --media-portrait-max-width: 22.5rem;
    --image-block-flex-direction: row;
    --image-block-flex-align: flex-end;
}

// breakpoints
@media (max-width: 1152px) {
    :root {
        // windowed content
        --big-windowed-content-max-width: 42.5rem;
        // featured items
        --featured-item-max-width: 20rem;
    }
}
@media (max-width: 1024px) {
    :root {
        // navigation menu
        --navigation-submenu-indent-inline-start: 7.5rem;
        --navigation-submenu-indent-inline-end: 7.5rem;
        --windowed-content-indent-inline-start: 7.5rem;
        --navigation-submenu-date-title-gap: 1.5rem;
        // windowed content
        --big-windowed-content-max-width: 37.5rem;
        // featured items
        --featured-item-max-width: 17.5rem;
    }
}
@media (max-width: 896px) {
    :root {
        // windowed content
        --small-windowed-content-max-width: 31.25rem;
        --big-windowed-content-max-width: 31.25rem;
        // featured items
        --featured-list-flex-direction: column;
        --featured-list-flex-align: left;
        --featured-list-flex-justify: flex-end;
    }
}
@media (max-width: 768px) {
    :root {
        // text
        --font-size: 16px;
        // page
        --page-gap: 2rem;
        // navigation menu
        --menu-item-padding-block: 1rem;
        --navigation-submenu-date-display: none;
        // windowed content
        --windowed-content-indent-inline-start: auto;
        --windowed-content-indent-inline-end: auto;
        --windowed-content-container-extra-padding-top: 1rem;
        --windowed-content-container-extra-padding-bottom: calc(1rem + var(--logo-height));
        --windowed-content-container-extra-padding-inline: 1rem;
        --windowed-content-padding-inline: 1.5rem;
    }
}
@media (max-width: 640px) or (max-height: 448px) {
    :root {
        // page
        --page-gap: 1.5rem;
        --page-padding-top: 1.5rem;
        --page-padding-bottom: 1.5rem;
        --page-padding-inline: calc(env(safe-area-inset-left, 0px) + 1.5rem);
        // logo
        --logo-height: 2.5rem;
    }
}
@media (max-width: 640px) {
    :root {
        // featured items
        --featured-bar-width: 100%;
        --featured-bar-height: calc(100% - var(--navigation-menu-height) - var(--navigation-menu-margin-top) - var(--page-gap) - var(--page-gap) - var(--logo-height));
    }
}
@media (max-height: 384px) {
    :root {
        // page
        --page-gap: 1rem;
        --page-padding-top: 1rem;
        --page-padding-bottom: 1.25rem;
        // logo
        --logo-height: 2rem;
        // navigation menu
        --menu-item-padding-block: 0.666rem;
    }
}
@media (max-width: 512px) {
    :root {
        // navigation menu
        --navigation-submenu-indent-inline-start: 6.5rem;
        --navigation-submenu-indent-inline-end: 0px;
        // windowed content
        --windowed-content-padding-top: 1.5rem;
        --windowed-content-padding-bottom: 1.5rem;
        --windowed-content-padding-inline: 1.25rem;
        // featured items
        --featured-item-max-width: 100%;
        // page content
        --image-block-flex-direction: column;
        --image-block-flex-align: center;
    }
}
@media (max-width: 384px) {
    :root {
        // windowed content
        --windowed-content-padding-bottom: 1rem;
        --windowed-content-padding-inline: 1rem;
        --windowed-content-container-extra-padding-inline: 0.5rem;
        --windowed-content-padding-top: 1rem;
    }
}

// featured items
@media (min-width: 1153px) {
    @media (max-height: 640px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 336px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 1152px) and (min-width: 1025px) {
    @media (max-height: 576px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 336px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 1024px) and (min-width: 897px) {
    @media (max-height: 560px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 336px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 896px) and (min-width: 769px) {
    @media (max-height: 832px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 536px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 768px) and (min-width: 641px) {
    @media (max-height: 832px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 536px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 640px) and (min-width: 513px) {
    @media (max-height: 832px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 560px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 512px) and (min-width: 385px) {
    @media (max-height: 992px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 560px) {
        :root {
            --featured-item-display: none;
        }
    }
}
@media (max-width: 384px) {
    @media (max-height: 928px) {
        :root {
            --featured-item-thumbnail-display: none;
        }
    }
    @media (max-height: 560px) {
        :root {
            --featured-item-display: none;
        }
    }
}

.sr-only:not(:focus):not(:active) {
    @include mixins.visually-hidden;
}

.skeleton {
    background-color: var(--skeleton-content-background-colour);
    animation: var(--skeleton-content-animation);
}
.skeleton-title {
    height: 1rem;
    width: 100%;
    max-width: 10ch;
    border-radius: var(--skeleton-content-border-radius);
}
.skeleton-subtitle {
    height: 1rem;
    width: 100%;
    max-width: 25ch;
    border-radius: var(--skeleton-content-border-radius);
}
.skeleton-text {
    height: 1rem;
    width: 100%;
    border-radius: var(--skeleton-content-border-radius);
}
.skeleton-text:last-of-type {
    width: 75%;
}
:root {
    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.4;
        }
        100% {
            opacity: 1;
        }
    }
}